.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.strike-through{
  text-decoration: line-through;
}
.deleteBtn{
  background:transparent;
  border-width:0px;
}
.todoItem{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-top:8px;
}
.wishItem{
  font-family: "bree-serif";
  font-size:22px;
}
.addBtn{
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
  cursor:pointer;
  border-color:#07db9b;
  background-color:#07db9b
}
.top-container{
  display:flex;
  justify-content: space-around;
}
.inputWishList{
  height:37px;
  width:450px;
  margin-right:10px;
  border-radius:10px;
  outline:none;
  border-color:#0751f0;
}
.checkStatus{
  height:18px;
  width:18px;
}